/node_modules
/public/*
/src/*
/public/hot
/public/storage
/storage/*.key
/builds
/src
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.log
.DS_Store
.vscode
.npm

!.gitignore
